<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Antilles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Antilles.Properties.Settings>
            <setting name="AntennahouseLocation" serializeAs="String">
                <value>leer</value>
            </setting>
            <setting name="RenderXLocation" serializeAs="String">
                <value>leer</value>
            </setting>
            <setting name="FoFormatierer" serializeAs="String">
                <value>fop</value>
            </setting>
            <setting name="KeepFoFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saxon_sall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saxon_signorable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saxon_snone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saxon_ds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saxon_dt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saxon_w0" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saxon_w1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saxon_w2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saxon_versionwarn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Schematronberichtbrowser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cals2htmlberichtbrowser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMLdarstellenbrowser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saxon_l" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saxon_timing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saxon_explain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saxon_traceextfunct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saxon_xml11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="antilles_wellformedcheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="antilles_willkommensbild" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="antilles_arbeitsordner" serializeAs="String">
                <value>unset</value>
            </setting>
        </Antilles.Properties.Settings>
    </userSettings>
</configuration>